.marker-icon,
.marker-icon:focus {
  background-color: #ffffff;
  border: 1px solid #3388ff;
  border-radius: 50%;
  margin: -3.5px 0 0 -3.5px !important;
  width: 6px !important;
  height: 6px !important;
  outline: 0;
  transition: opacity ease 0.3s;
}

.marker-icon-middle,
.marker-icon-middle:focus {
  opacity: 0.7;
  margin: -3px 0 0 -3px !important;
  width: 4px !important;
  height: 4px !important;
}

.marker-icon-temp,
.marker-icon-temp:focus {
    background-color: #ffffff00;
    border: 1px solid #ff0008;
    margin: -5px 0 0 -5px !important;
    width: 8px !important;
    height: 8px !important;
    outline: 0;
    transition: opacity ease 0.3s;
}


.leaflet-pm-draggable {
  cursor: move !important;
}

.cursor-marker {
  cursor: crosshair;
  pointer-events: none;
  display: none;
}

.cursor-marker.visible {
  display: block !important;
}

.leaflet-pm-invalid {
  stroke: red;
  transition: fill ease 0s, stroke ease 0s;
}

.rect-style-marker,
.rect-start-marker {
  opacity: 0;
}

.rect-style-marker.visible,
.rect-start-marker.visible {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.rect-style-marker,
.rect-start-marker {
  opacity: 0;
}

.rect-style-marker.visible,
.rect-start-marker.visible {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

.marker-icon-unseen,
.marker-icon-unseen:focus {
    background-color: transparent;
    margin: -3.5px 0 0 -3.5px !important;
    width: 6px !important;
    height: 6px !important;
    outline: 0;
    transition: opacity ease 0.3s;
}